.btn-rounded-20{
    border-radius:20px;
}

.form-content {
    background: #ffffff80;
    position: absolute;
    padding: 20px;
    height: 100%;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
}

    .form-content .title {
        color: #7a7a7a
    }

    .form-content .details {
        color: #0006
    }
.auth-form{
    position:relative;
    top:50%;
    transform:translateY(-50%);
}

.input-label {
    color: #616161;
}

.btn-login {
    background: #05aaa0;
    font-size: 16px;
    padding: 7px 40px;
    color: #fff;
    transition: .3s ease-in;
}

    .btn-login:hover {
        background: #ec5328;
        color: #fff;
        transition: .3s ease-out;
    }

.text-forgotpass {
    color: #ec5328;
    font-size: 16px;
    text-decoration: none;
    transition: .3s ease-in;
}

    .text-forgotpass:hover {
        color: #05aaa0;
        transition: .3s ease-in-out;
    }
