@inherits LayoutComponentBase

<link href="css/modules/auth.css" rel="stylesheet" />
<div class="auth-bg">
    <div class="auth-content-right">
        <img src="images/logo.png" height="100" class="auth-logo"/>
    </div>
    @Body
</div>