.auth-bg {
    background: url('images/bg/auth-bg.jpg');
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
}

.auth-content-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    height: 80%;
    background: #00000026;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
