.auth-form {
    width: 40%;
    background: #ffffffaf !important;
    padding: 20px;
}

.form-content {
    background: #fff;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    padding: 20px;
}
.auth-header {
    position: absolute;
    top: 10px;
    margin-right: 20px;
    width: -webkit-fill-available;
}
.auth-footer {
    position: absolute;
    bottom: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
}