@inject Microsoft.JSInterop.IJSRuntime js
<div class="dropdown">
    @ChildContent
</div>
@code {
    private string id = Guid.NewGuid().ToString();


    [Parameter]
    public RenderFragment ChildContent { get; set; }

}

